@charset "utf-8";

@font-face {
  font-family: 'notoSans';
  src: url("../font/notokr-light.eot");
  src: url("../font/notokr-light.eot?#iefix") format("embedded-opentype"), url("../font/notokr-light.woff") format("woff"), url("../font/notokr-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'notoSans';
  src: url("../font/notokr-regular.eot");
  src: url("../font/notokr-regular.eot?#iefix") format("embedded-opentype"), url("../font/notokr-regular.woff") format("woff"), url("../font/notokr-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'notoSans';
  src: url("../font/notokr-medium.eot");
  src: url("../font/notokr-medium.eot?#iefix") format("embedded-opentype"), url("../font/notokr-medium.woff") format("woff"), url("../font/notokr-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'notoSans';
  src: url("../font/notokr-bold.eot");
  src: url("../font/notokr-bold.eot?#iefix") format("embedded-opentype"), url("../font/notokr-bold.woff") format("woff"), url("../font/notokr-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* reset */
html, body {position:relative; -webkit-font-smoothing:antialiased;height:100%}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, button, address, em, img, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, hr {margin:0; padding:0;box-sizing:border-box;}
body {padding:0; background:#fff; font-family: 'notoSans', sans-serif;font-size:13px;font-weight:400;color:#000;box-sizing:border-box;line-height:1.2;letter-spacing:-0.025em;word-break: keep-all;}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:separate; border-spacing:0}
form, fieldset, iframe {display:block; border:0}
img, button {border:0 none; vertical-align:middle}
hr {height:0; display:none}
i, em, address {font-style:normal}
label, button {cursor:pointer}
strong{font-weight:normal;}
caption, legend {width:0; height:0; margin:0; padding:0; text-indent:-9999em; overflow:hidden; font-size:0;}
.blind {position:absolute !important; left:-9999em; width:0; height:0; margin:0; padding:0; text-indent:-9999em; overflow:hidden; font-size:0; line-height:0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;box-sizing:border-box;}
input, textarea, select {margin:0; padding:0; font-family:'notoSans', sans-serif; font-size:13px;  color:#000; vertical-align:middle;box-sizing:border-box;}
select{appearance:none;-webkit-appearance:none;-moz-appearance:none;}
select::-ms-expand {display:none}
textarea {border: 1px solid #000; resize:none; overflow-y:auto}
button {overflow:visible; margin:0; padding:0; border:0 none; background:none; font-size:0; font-family:'Roboto', 'notoSans', sans-serif; vertical-align:top; cursor:pointer;}
button::-moz-focus-inner {border:0; padding:0;}
.ellipsis {display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
a {color:#000; text-decoration:none; word-break:break-all;}
a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none;}
input:-webkit-autofill{-webkit-box-shadow:0 0 0px 1000px white inset;}

/* Interval */
.mt0{margin-top:0px !important}
.mt5{margin-top:5px !important}
.mt6{margin-top:6px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt35{margin-top:35px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.mt60{margin-top:60px !important}
.mt70{margin-top:70px !important}
.mt80{margin-top:80px !important}
.mt90{margin-top:90px !important}
.mt100{margin-top:100px !important}

.mb0{margin-bottom:0px !important}
.mb6{margin-bottom:6px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb30{margin-bottom:30px !important}
.mb40{margin-bottom:40px !important}
.mb50{margin-bottom:50px !important}
.mb60{margin-bottom:60px !important}
.mb70{margin-bottom:70px !important}
.mb80{margin-bottom:80px !important}
.mb90{margin-bottom:90px !important}
.mb100{margin-bottom:100px !important}

.ml0{margin-left:0px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml30{margin-left:30px !important}
.ml40{margin-left:40px !important}
.ml50{margin-left:50px !important}
.ml60{margin-left:60px !important}
.ml70{margin-left:70px !important}
.ml80{margin-left:80px !important}
.ml90{margin-left:90px !important}
.ml100{margin-left:100px !important}

.mr0{margin-right:0px !important}
.mr10{margin-right:10px !important}
.mr20{margin-right:20px !important}
.mr30{margin-right:30px !important}
.mr40{margin-right:40px !important}
.mr50{margin-right:50px !important}
.mr60{margin-right:60px !important}
.mr70{margin-right:70px !important}
.mr80{margin-right:80px !important}
.mr90{margin-right:90px !important}
.mr100{margin-right:100px !important}

/* floating */
.fl {float:left;}
.fr {float:right !important;}
.fn {float:none !important;}
.cl {clear:both;}

/* Align */
.tal{text-align:left !important}
.tac{text-align:center !important}
.tar{text-align:right !important}
.aTop{vertical-align:top !important}
.aMid{vertical-align:middle !important}
.aBtm{vertical-align:bottom !important}

/* border */
.bdBtmNo{border-bottom:0 !important}
.bdTopNo{border-bottom:0 !important}
.bdLeftNo{border-bottom:0 !important}
.bdRightNo{border-bottom:0 !important}

/* font weight */
.fontN{font-weight:400 !important}
.fontR{font-weight: 500 !important;}
.fontB{font-weight:700 !important}

/* Input */
input[type=text],input[type=password],input[type=number] {width: 100%;height: 40px;background-color: #F9F9F9;border: none; padding-left: 7px;font-size: 16px;line-height: 40px; margin-top:9px;}
input[type=text]::placeholder,input[type=password]::placeholder {font-size: 16px;line-height: 40px;color: #DBDBDB;}
input[type=text]:focus,input[type=password]:focus{outline: none;}
input[type=submit] {width: 100%;height: 48px;background-color: #FF3210;box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);font-weight: 400;font-size: 16px;line-height: 22px;color: #FFFFFF;border: none;margin-top: 22px;}
.inputBox {position: relative; margin-top: 8px;}
input {-webkit-appearance: none;-webkit-border-radius: 0;}

/* select */
.selectBox{  position: relative;  width: 150px;  height: 28px;  margin-top: 16px;}
select{  width: 100%;  height: 100%;  padding-left: 5px;  color: #6B6B6B;  background-color: #F9F9F9;  outline: none;  border: none;}
.selectBox img {  position: absolute;  top: 50%;  right: 0;  transform: translate(-50%,-50%);}
select option {  color: #000;  background-color: #fff;}
select option::-ms-check {  color: #fff;  background-color: #000;}

.link a { margin: 50px;  line-height: 30px;}

/* COMMON */
.wrap {width: 100vw;}
.wrap_inner {width: 87vw;min-width: 328px;margin: 0 auto;padding-bottom: 16px;}
.head {width: 100%;height: 48px;}
.head .logoBox {display: flex;align-items: center;width: 64px;height: 48px;}
.head .logoBox img{width: 100%;}
.head .logoBox img.previousIcon{width: 16px;}
.head .logoBox .headTitle{font-size: 16px; margin-left: 8px; line-height: 22px;}
.xIcon {position: absolute; top: calc(50% + 4.5px); right: 12px; transform: translate(-50%,-50%); cursor: pointer;display: none;}
.flexBox {display: flex;}
.flexBox input{width: calc(100% - 131px);}
.flexBox button {margin-top: 9px;}

.title {font-weight: 100;font-size: 28px;line-height: 38px;}
.login_idBox{margin-top: 24px;}
.errMsgBox{position: absolute;top:100%; font-size: 12px; line-height: 16px;color: #FF3210;margin-top: 7px; display: none;}
.passMsgBox{position: absolute; font-size: 12px; line-height: 16px;color: #02B82A;margin-top: 7px; display: block;}
.check_fake{position: relative;display: block;width: 16px;height: 16px;background-image: url('../images/check_no.png');background-size: cover;float: left;margin-right: 15px;top: 2px;}
.fakeBox{margin-top: 9px;font-size: 16px;line-height: 22px;margin-bottom: 24px;}
.fakeBox::after{clear: both;}
.fakeBox input {display: none;}
.check_fake.active{background-image: url('../images/check_on.png');}
.phone_certiBox {display: flex;}
.phone_certiBox input{width: calc(100% - 131px);}
.certiNumBtn {width: 118px !important;height: 40px;margin-left: 13px;background: #DBDBDB;font-size: 16px;line-height: 22px;color: #FFFFFF;margin-top: 9px;}
.resetPwLink {font-size: 12px;line-height: 16px;color: #191919;margin-top: 10px;text-align: center;}
.resetPwLink a{color: #2BB2FF;margin-left: 5px;}
.signOutLink {font-size: 12px;line-height: 16px;text-align: center;color: #191919;margin-top: 63px;}
.signOutLink a{font-weight: 600;margin-left: 6px;}
textarea {width: 100%; height: 72px;padding: 8px 4px 6px 8px;}
.essential {font-size: 12px;line-height: 16px;color: #FF3210;}

/* miniNav */
.miniNav p{font-size: 24px;line-height: 33px;letter-spacing: -0.05em;margin-right: 39px;color: #DBDBDB;}

.miniNav p.active{color: #000;padding-bottom: 15px;border-bottom: 3px solid #000;}

/* Login */
#login{ padding-top: 50px;}

/* Reset Password */
#resetPw { margin-top: 85px;}
#resetPw .title{  margin-bottom: 53px;}
#resetPw input[type=submit]{  margin-top: 58px;}
#resetPw .signOutLink{  position: absolute;  left: 50%;  bottom: 16px;  transform: translate(-50%,-50%);}

/* signup TOS */
#signupTOS{  margin-top: 48px;}
#signupTOS .logoBox {  width: 100%;  text-align: center;}
#signupTOS .logoBox img{  width: 129px;}
#signupTOS .fakeBox {  margin-bottom: 8px;}
#signupTOS .tosBox:nth-child(2) {  margin-top: 48px;}
#signupTOS .tosBox:nth-child(3) {  margin-top: 40px;}
#signupTOS .tosBox:nth-child(5) {  margin-top: 38px;}
#signupTOS input[type=submit] {  margin-top: 32px;}

/* signup */
#signup{  margin-top: 48px; padding-bottom: 56px;}
#signup .logoBox {  width: 100%;  text-align: center;}
#signup .logoBox img{  width: 129px;}
#signup .inputBox {margin-top: 24px;}
#signup .inputBox > p{font-size: 16px;line-height: 22px;color: #191919;}
#signup .phone_certiBox button{background-color: #FF3210;}

/* receipt */
#receipt .selectCourier {margin-top: 55px;}
#receipt .selectCourier .title{  position: relative;  font-size: 20px;  line-height: 27px;  letter-spacing: -0.05em;  font-weight: 400;}
#receipt .selectCourier .title img{  position: absolute;  bottom: 0;  margin-left: 8px;  width: 33px;}
#receipt .tabBox {  margin-top: 30px;}
#receipt .tabBox .tabMenu {  justify-content: space-between;}
#receipt .tabBox .tabMenu p{display: flex; justify-content: center; align-items: center;  width: 150px;  height: 52px;  background-color: #DBDBDB;  color: #fff;  font-size: 16px; cursor: pointer;}
#receipt .tabBox .tabMenu p.active{  background: #FF3210;  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);}
#receipt .tab { display: none;}
#receipt .tab.active { display: block;}
#receipt .tab .p1 {  font-size: 16px;line-height: 22px;letter-spacing: 0.05em;color: #535353;margin-top: 28px;}
#receipt .tab01 .numPad {  margin-top: 12px;}
#receipt .tab01 .homenumberBox {  display: flex;  height: 98px;  background: #F9F9F9;}
#receipt .tab01 .homenumberBox input{  font-size: 42px;  line-height: 57px;  margin-top: 30px;  color: #000000;  border-bottom: 1px solid #000;  letter-spacing: 0.05em;}
#receipt .tab01 .padInner{  height: 288px;  border: 1px solid #DBDBDB;}
#receipt .tab01 .padInner .num{  display: grid;  grid-template: 70px 70px 70px 70px / 100px 100px 100px;  padding: 7px 14px;}#receipt .tab .padInner .num .item{display: flex;  flex-direction: column;  justify-content: center;  align-items: center;}
#receipt .tab01 .padInner .num p{  text-align: center;}
#receipt .tab01 .padInner .num p:nth-child(1){  font-size: 28px;  line-height: 38px;  letter-spacing: -0.05em;}
#receipt .tab01 .padInner .num p:nth-child(2){  font-size: 12px;  line-height: 14px;  text-align: center;  letter-spacing: -0.05em;  color: #DBDBDB;}
#receipt .tab02 .info{  margin-top: 12px;  background-color: #F9F9F9;  padding-bottom: 43px;}
#receipt .tab02 .info .item > p{  display: flex;  align-items: flex-end;  margin-bottom: 8px;  font-size: 16px;  line-height: 22px;  height: 36px;}
#receipt .tab02 .info .item input{  height: 40px;  background-color: #fff;  margin-top: 0;}
#receipt .tab02 .info .item input::placeholder{  font-size: 12px;  line-height: 16px;  letter-spacing: 0.05em;  color: #DBDBDB;}
#receipt .tab02 .info .item02 .flexBox {  justify-content: space-between;  padding-right: 2px;}
#receipt .tab02 .info .item .selectBox {  width: 100px;  height: 40px;  margin-top: 0;}
#receipt .tab02 .info .item .selectBox select{  width: 100%;  height: 100%;  background-color: #fff;  font-size: 16px;line-height: 22px;}
#receipt .tab02 .info .item02 input {  width: 100px;}
#receipt .tab02 .info .item03 .flexBox {  justify-content: space-between;}
#receipt .tab02 .info .item03 input{  width: 88px;}
#receipt .tab02 .info .item03 p{  line-height: 40px;  margin: 0 6px;}
#receipt .tab02 .info .item03 button{  width: 120px;  height: 40px;  background-color: #FF3210;  margin-top: 0;  margin-left: 15px;  font-size: 16px;line-height: 22px;letter-spacing: 0.05em;color: #FFFFFF;}

#receipt input { font-size: 14px;  line-height: 19px;  letter-spacing: -0.05em;  color: #6B6B6B;}
#receipt .receiptBoxType {  margin-top: 6px;}
#receipt .p3 {  margin-top: 22px;  font-size: 20px;line-height: 27px;letter-spacing: -0.05em;}
#receipt .receiptInput {  position: relative;  width: 150px;  height: 28px;  margin-top: 16px;}
#receipt .receiptInput input{  width: 100%;  height: 100%;  margin-top: 0;}
#receipt .receiptInput input::placeholder{  font-weight: 100;font-size: 14px;line-height: 19px;color: #DBDBDB;}
#receipt .receiptPrice .receiptInput p{  position: absolute;  top: 50%;  left: calc(100% + 10px);  transform: translate(-50%,-50%);  font-weight: 100;font-size: 16px;line-height: 22px;color: #191919;}
#receipt .receiptBoxAmount input { padding-left: 0; text-align: center;}
#receipt .receiptBoxAmount button{  position: absolute;  top: 0;  width: 28px;height: 28px;background: #FF3210;margin-top: 0;color: #fff;}
#receipt .receiptBoxAmount .minusBtn {  left: 0;}
#receipt .receiptBoxAmount .plusBtn {  right: 0;}
#receipt .receiptMessage textarea {width: 328px;  height: 72px;  left: 16px;  top: 1207px;  background: #F9F9F9;  outline: none;  border: none;  font-size: 14px;line-height: 19px;letter-spacing: -0.05em;color: #6B6B6B;}

#receipt .submitBtnBox {  justify-content: space-between;  width: 100%;  height: 52px;  margin-top: 32px;  margin-bottom: 56px;}
#receipt .submitBtnBox button{  width: 150px;  height: 100%;  background: #FF3210;box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);font-size: 16px;line-height: 22px;letter-spacing: -0.05em;color: #FFFFFF;}

/* addressSearchP */
.popupBack {  display: flex;  justify-content: center;  align-items: center;  position: fixed;  top: 0;  left: 0;  width: 100vw;  height: 100vh;  background: rgba(0, 0, 0, 0.4);  z-index: 99;}
.popupLayer {  position: relative;  width: 328px;  height: 657px;  background-color: #fff;}
.popupLayer .popupInner{  padding: 11px 12px; height: 100%;}
.popupLayer .popupInner .p1{  font-size: 20px;  line-height: 27px;  letter-spacing: -0.05em;}
.popupLayer .popupInner .tab{  width: 100%;  margin-top: 10px;  margin-bottom: 16px;}
.popupLayer .popupInner .tab p {  display: flex;  justify-content: center;  align-items: center;  width: 50%;  height: 52px;  color: #fff;  background-color: #DBDBDB;}
.popupLayer .popupInner .tab p.active {  background-color: #000;}
.popupLayer .popupInner .p2 {  font-size: 12px;  line-height: 16px;  letter-spacing: -0.05em;  margin-top: 4px;  color: #535353;}
.popupLayer .popupInner .searchBox {  margin-top: 32px;}
.popupLayer .popupInner .searchBox input{  width: calc(100% - 64px);  height: 36px;  font-size: 12px;  line-height: 16px;  letter-spacing: -0.05em;  padding-left: 4px;}
.popupLayer .popupInner .searchBox input::placeholder{  color: #535353;  font-size: 12px;  line-height: 16px;}
.popupLayer .popupInner .searchBox button {  width: 64px;  height: 36px;  background-color: #FF3210;  font-size: 12px;line-height: 16px;letter-spacing: -0.05em;color: #FFFFFF;}
.popupLayer .popupInner .p3 {  font-size: 12px;  line-height: 16px;  letter-spacing: -0.05em;  color: #535353;  margin-top: 22px;}
.popupLayer .popupInner .p3 span{  color: #FF3210;}
.popupLayer .popupInner .resultBox{  height: 216px;  margin-top: 24px;  background-color: #F9F9F9;}
.popupLayer .popupInner .resultBox .resultBox_inner{  padding: 16px 26px;}
.popupLayer .popupInner .resultBox .resultBox_inner li{  display: flex;  position: relative;}
.popupLayer .popupInner .resultBox .resultBox_inner li + li{  margin-top: 8px;}
.popupLayer .popupInner .resultBox .resultBox_inner li .whiteCircle{  position: absolute;  left: -18px;  width: 12px;  height: 12px;  background-color: #fff;  border-radius: 50%;}
.popupLayer .popupInner .resultBox .resultBox_inner li .whiteCircle::after{  content: "";  position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%,-50%);  width: 6px;  height: 6px;  border-radius: 50%;  background-color: #fff;}
.popupLayer .popupInner .resultBox .resultBox_inner li .whiteCircle span{  display: none;  width: 12px;  height: 12px;  background-color: #FF3210;  border-radius: 50%;}
.popupLayer .popupInner .resultBox .resultBox_inner li.active .whiteCircle span{  display: block;}
.popupLayer .popupInner .resultBox .resultBox_inner li .zipCode{  margin-right: 16px;}
.popupLayer .popupInner .paging {  text-align: center;  margin-top: 12px;}
.popupLayer .popupInner .paging img{  margin: 0 24px;}
.popupLayer .popupInner button.success {position: absolute; left: 50%;  bottom: 17px;  transform: translateX(-50%);  width: 304px;  height: 52px;  font-size: 12px;  line-height: 16px;  letter-spacing: -0.05em;  color: #FFFFFF;  background: #DBDBDB;  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);  margin-top: 12px;}
.popupLayer .popupInner button.success.active {background: #FF3210;  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15); }

/* lookup */
#lookup .title {  font-size: 28px;  line-height: 38px;  letter-spacing: -0.05em;  margin-top: 63px;  font-weight: 400;}
#lookup .dateBox {  display: flex;  justify-content: space-between;  margin-top: 52px;}
#lookup .dateBox .selectBox{  position: relative;  width: 100px;  height: 38px;  margin-top: 0;}
#lookup .dateBox .selectBox img{  width: 10px;  margin-right: 2px;}
#lookup .dateBox input{  width: 42px;  height: 38px;  margin-top: 0;  font-weight: 400;font-size: 12px;line-height: 16px;text-align: center;color: #535353;padding: 0;}
#lookup .dateBox button{  width: 64px;  height: 38px;  background-color: #FF3210;  font-size: 12px;line-height: 16px;text-align: center;color: #FFFFFF;}
#lookup .contents {  margin-top: 52px;}
#lookup .contents .item{  padding-bottom: 26px;}
#lookup .contents .item .itemNum{  font-weight: 700;  font-size: 24px;  line-height: 33px;  color: #535353;}
#lookup .contents .item .itemBox{  position: relative;  display: grid;  grid-template: 1fr 1fr / 0.8fr 1.2fr 0.8fr;  margin-top: 20px;}
#lookup .contents .item .itemBox::after{  position: absolute;  left: 0;  bottom: 0;  content: "";  width: 100%;  height: 2px;  background-color: #DBDBDB;}
#lookup .contents .item .itemBox .itemTitle{  font-weight: 400;  font-size: 16px;  line-height: 22px;  color: #535353;  margin-bottom: 3px;}
#lookup .contents .item .itemBox .itemCon01{  font-weight: 400;  font-size: 16px;  line-height: 22px;  color: #000000;  margin-bottom: 22px;}
#lookup .contents .item .itemBox .itemCon02{  font-weight: 700;  font-size: 16px;  line-height: 22px;  color: #000000;}

/* MYPAGE */
#mypage .profileBox {  margin-top: 63px;  align-items: center;}
#mypage .profileBox > img{  width: 72px;}
#mypage .profileBox > div{  margin-left: 20px;}
#mypage .profileBox > div .flexBox{  align-items: center;}
#mypage .profileBox > div .flexBox > img{  width: 21px;}
#mypage .profileBox > div .flexBox p{  width: 199px;  height: 20px;  position: relative;  font-size: 12px;  line-height: 20px;  letter-spacing: -0.05em;  color: #FFFFFF;  background-color: #000;  margin-left: 13px;  padding-left: 6px;}
#mypage .profileBox > div .flexBox p img:nth-child(1){  position: absolute;  top: 50%;  left: -3px;  transform: translate(-50%,-50%);}
#mypage .profileBox > div .flexBox p img:nth-child(2){  position: relative;  width: 8px;  margin-left: 4px;  margin-bottom: 2px;    box-sizing: content-box;padding: 2px;}
#mypage .profileBox .profileName{  font-size: 24px;  line-height: 33px;  letter-spacing: -0.05em;  margin-top: 9px;}
#mypage .tabBox{  margin-top: 41px;}
#mypage .tabBox p:nth-child(1) a{  font-size: 28px;  line-height: 38px;  letter-spacing: -0.05em;  color: #DBDBDB;}
#mypage .tabBox p{  font-size: 24px;  line-height: 33px;  letter-spacing: -0.05em;  margin-bottom: 32px;}
#mypage .tabBox p img{  margin-left: 24px;}
#mypage .tabBox p:nth-child(3) img{  margin-left: 45px;  margin-bottom: 5px;}
#mypage .logoBox {  position: absolute;  left: 50%;  bottom: 23px;  transform: translate(-50%,-50%);  text-align: center;}
#mypage .logoBox .flexBox{  display: flex;  justify-content: center;  margin-left: 10px;  font-size: 10px;line-height: 14px;text-align: center;letter-spacing: -0.05em;}
#mypage .logoBox img{  width: 55px;  margin-top: 4px;}

/* MYPAGE - INFO */
#mypageInfo .title {  font-weight: 700;  font-size: 28px;  line-height: 38px;  letter-spacing: -0.05em;  margin-top: 65px;}
#mypageInfo .subTitle {  font-weight: 700;  font-size: 24px;  line-height: 33px;  letter-spacing: -0.05em;  margin-top: 33px;}
#mypageInfo form {  margin-top: 32px;}
#mypageInfo .col {  margin-bottom: 8px;}
#mypageInfo .col .dl {  display: flex;  align-items: center;  width: 125px;  font-weight: 400;  font-size: 16px;  line-height: 22px;  letter-spacing: -0.05em;  color: #535353;}
#mypageInfo .col .dr {  width: 211px;  height: 40px;}
#mypageInfo .col .dr input{  margin-top: 0;  width: 100%;  font-weight: 400;  font-size: 16px;  line-height: 22px;  color: #535353;}
#mypageInfo .col .dr input::placeholder{  font-size: 12px;  line-height: 16px;    color: #DBDBDB;}
#mypageInfo .col .dr input:read-only{  background: none;}
#mypageInfo p.editBtn {  display: flex;  justify-content: center;  align-items: center;  width: 100%;  height: 38px;  background: #FF3210;  font-size: 16px;line-height: 22px;color: #FFFFFF;box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);margin-top: 138px;margin-bottom: 45px;}
#mypageInfo p.editEndBtn {  display: none;  justify-content: center;  align-items: center;  width: 100%;  height: 38px;  background: #FF3210;  font-size: 16px;line-height: 22px;color: #FFFFFF;box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);margin-top: 138px;margin-bottom: 45px;}

/* MYPAGE - COURIER MANAGEMENT */
#courierManagement .title {  font-weight: 700;  font-size: 28px;  line-height: 38px;  letter-spacing: -0.05em;  margin-top: 65px;}
#courierManagement .selCourier{  margin-top: 33px;}
#courierManagement .selCourier .dl{  font-size: 24px;  line-height: 33px;  letter-spacing: -0.05em;}
#courierManagement .selCourier .dr{  margin-left: 58px;}
#courierManagement .selCourier .dr .selectBox{  margin-top: 0;  width: 174px;  height: 38px;}
#courierManagement .selCourier .dr select{  width: 100%;  height: 100%;  font-size: 16px;  line-height: 22px;}
#courierManagement .courierInfo .information{  display: none;}
#courierManagement .courierInfo .subTitle{  font-size: 24px;  line-height: 33px;  letter-spacing: -0.05em;  margin-top: 72px;  margin-bottom: 28px;}
#courierManagement .courierInfo .flexBox{  margin-bottom: 26px;}
#courierManagement .courierInfo .dl{  width: 125px;  font-size: 16px;  line-height: 22px;  letter-spacing: -0.05em;  color: #535353;}
#courierManagement .courierInfo .dr{  display: flex;  flex-wrap: wrap;  row-gap: 13px;  width: 200px;  font-size: 16px;  line-height: 22px;  color: #000000;}
#courierManagement .courierInfo .flexBox .inputBox{  width: 90px;  margin-top: 0;  padding-left: 20px;}
#courierManagement .courierInfo .flexBox input[type=checkBox]{  visibility: hidden;  width: 16px;}
#courierManagement .courierInfo .flexBox .inputBox label{  position: relative;}
#courierManagement .courierInfo .flexBox .inputBox label::before{  content: "";  position: absolute;  top: 50%;  left: -15px;  transform: translate(-50%,-50%);  display: block;  width: 16px;  height: 16px;  background-color: #DBDBDB;  border-radius: 50%;}
#courierManagement .courierInfo .flexBox .inputBox input:checked + label::before{  background-color: #FF3210;}
#courierManagement .courierInfo .flexBox .inputBox input:checked + label::after{  content: "";  position: absolute;  top: 50%;  left: -15px;  transform: translate(-50%,-50%);  display: block;  width: 8px;  height: 8px;  background-color: #fff;  border-radius: 50%;}

/* MYPAGE - ETC */
#mypageEtc .title {  font-weight: 700;  font-size: 28px;  line-height: 38px;  letter-spacing: -0.05em;  margin-top: 65px;}
#mypageEtc .col {
  margin-top: 43px;
}
#mypageEtc .col .dl{
  align-items: center;
  width: 50%;
  font-size: 16px;
line-height: 22px;
letter-spacing: -0.05em;
}
#mypageEtc .col .dl img{
  width: 14px;
  margin-right: 12px;
}
#mypageEtc .col:nth-child(3){
  margin-top: 30px;
}
#mypageEtc .col:nth-child(3) .dl img{
  width: 10px;
  margin-right: 14px;
}
#mypageEtc .col .dr{
  width: 50%;
  text-align: right;
}